@using static EmployeeManagement.Models.Employee;
@model Employee

@{
    ViewBag.Title = "Create Employee";
}

<div class="container">
    <form asp-asp-controller="Home" asp-action="Create"
          method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Department"></label>
            <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" />
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <input type="submit" value="Create" />
    </form>
</div>