@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Employee List";
}

<div class="card">
    @foreach (var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top" src="~/images/noimage.jpg" asp-append-version />
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details"
                   asp-route-id="@employee.Id" class="btn btn-primary m-1">View</a>
                <a asp-action="edit" asp-route-id="@employee.Id" class="btn btn-primary m-1">Edit</a>
                <a asp-action="delete" asp-route-id="@employee.Id" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>

<a asp-action="Create">Create</a>
<a asp-action="Details" asp-route-id="1"></a>
<a asp-action="Edit" asp-route-id="1"></a>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }